@media only screen and (max-width: 500px) {
  .content-wrapper {
    display: block !important;
  }
  .img-wrapper {
    justify-content: center;
    margin-bottom: 2rem;
    margin-right: 0 !important;
  }
}