html {
  font-size: 14px !important;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

nav {
  border-bottom: 1px solid #606c38;
}

main > div {
  background-color: #506fff;
  border-radius: 2rem;
}

ul {
  list-style: circle !important;
}

.about-us {
  flex-grow: 1;
  flex-shrink: 0;
}

.member-pic {
  border-radius: 1rem;
  width: 10rem;
  /* max-width: 100%; */
}

.other-pics {
  border-radius: 100%;
}

footer {
  margin-top: auto;
  border-top: 1px solid #606c38;
  padding: 1.5rem;
}