html, body {
  font-size: 14px !important;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

nav {
  border-bottom: 1px solid #606c38;
}

.brand {
  padding: 1rem;
  transition: 0.2s;
}

.brand:hover {
  background-color: #18181a;
  color: #e8f6fd;
}

/* .navbar-item {
  margin-left: auto;
} */

ul {
  list-style: circle !important;
}

ul {
  padding-left: 1rem !important;
}

footer {
  justify-self: flex-end;
  border-top: 1px solid #606c38;
  padding: 1.5rem;
}